body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.row{
    justify-content: space-between;
    align-items: baseline;
}

.cont-card{

    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
}