@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #e3e1e3;
  font-family: 'Raleway', sans-serif;
}

.app h1{
  text-align: center;
  margin: 40px 0 40px 0;
  color:#787879;
  font-size: 44px;
}

.pokedex-container{
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}