* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8f0f7;
}

.container {
  width: 500px;
  height: 100%;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-link{
  text-decoration: none;
  color: #676363;
  margin-left: 80px;
  font-size: 14px;
}

.container-contact{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 10px 0;
}

.container-contact p{
  color: grey
}

.container-contact h3{
  color: #3a3a3a;
}
.contact-length{
  font-size: 14px;
  color: gray;
  margin: 3px 0 0 -200px;
}

.container-inputs{
  display: flex;
  flex-direction: column;
}

.container-inputs input{
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
  font-size: 14px;
}

.container-inputs label{
  margin-top: 10px;
  margin-bottom: 3px;
}

.no-contacts{
  display: flex;
  justify-content: center;
}

.container-contact-actions a{
  margin: 5px;
  text-decoration: none
}

.act-update{
  background-color: #F1F3F3;
  padding: 7px;
  border-radius: 15px;
}

.act-delete{
  background-color: #FBB3B2;
  padding: 7px;
  border-radius: 15px;
}