body a{
    text-decoration: none;
    font-family: roboto, sans-serif;
}

body ul{
    list-style: none;
}

nav{
    background-color: white;
}

nav ul li{
    display: inline;
    margin: 30px;
}

nav ul li a{
    display: inline-block;
}

#container-fatura{
    background-color: #505050;
    padding: 10px;
}

#container-fatura h3{
    background-color: ;
}

#details{
    background-color: white;
}

#main{
    background-color: #f5f5f5;
}

section{
    height: 50px;
    width: 320px;
    background-color: white;
    margin: 2em;
    border: 3em;
    padding: 1em;
    float: left;
}

#sc-faturas{

}

#sc-status{

}

#sc-prop{

}