*{
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button{
    outline: none;
    border: none;
    background-color: transparent;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

nav{
    background-color: white;
}

nav ul li{
    display: inline;
    margin: 35px;
}

nav ul li a{
    display: inline-block;
    color: #8e8e93;
    padding-bottom: 10px;
}

#container-fatura{
    background-color: #505050;
    padding: 10px 0px 10px 100px;
}

#container-fatura h3{
    color: #8e8e93;
}

#details{
    background-color: white;
}

main{
    background-color: #E7E9EE;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 0;
}

section{
    height: 290px;
    width: 360px;
    background-color: white;
    margin:30px;
    border-radius: 5px;
    padding: 1em;
}

#details ul{
    display:inline;
}

#details ul li{
    display: inline-block;
}

#sc-prop img{
    border-radius: 10px;
}

.red-btn{
    color: #d60b52;
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
}

.red-btn:hover{
    background-color:#d60b52;
    color: white;
    cursor: pointer;
}

#status-detail p{
    font-size: 25px;
    text-align: center;
}

#container-fatura button{
    color: white;
    padding: 5px 70px 5px 70px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
}

#container-fatura button:hover{
    background-color:white;
    color: black;
    cursor: pointer;
}

#cards{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#card-pay{
    background-color: #DE7A9F;
    border-radius: 5px;
    width: 150px;
    height: 100px;
}

#card-update{
    background-color: #73C8CA;
    border-radius: 5px;
    width: 150px;
    height: 100px;
}

#cards a{
    color: white;
}

#cards p{
    padding-left: 5px;
    padding-top: 5px;
}